
[Unit]
Description=gunicorn daemon
# Since systemd 235 reloading target can pass through
# Requires=life_organizer.socket
After=network.target

[Service]
User=steven
Group=www-data
WorkingDirectory=/home/steven/life-organizer-staging/api
ExecStart=/home/steven/life-organizer-staging/api/venv/bin/gunicorn --bind 127.0.0.1:%%STAGING_BACKEND_PORT%% -w 1 wsgi:app --access-logfile /home/steven/life-organizer-staging/api/gunicorn-access.log --error-logfile /home/steven/life-organizer-staging/api/gunicorn-error.log

[Install]
WantedBy=multi-user.target
