
[Unit]
Description=gunicorn daemon
# Since systemd 235 reloading target can pass through
# Requires=%%SERVICE_NAME%%.socket
After=network.target

[Service]
User=steven
Group=www-data
WorkingDirectory=/home/steven/%%DIRECTORY_NAME%%-staging/api
ExecStart=/home/steven/%%DIRECTORY_NAME%%-staging/api/venv/bin/gunicorn --bind 127.0.0.1:%%STAGING_BACKEND_PORT%% -w 1 wsgi:app --access-logfile /home/steven/%%DIRECTORY_NAME%%-staging/api/gunicorn-access.log --error-logfile /home/steven/%%DIRECTORY_NAME%%-staging/api/gunicorn-error.log

[Install]
WantedBy=multi-user.target
